<nav>
	<div class="nav-wrapper">
		<!-- Center -->
		<a href="javascript:void(0);" class="brand-logo center">
			{{Text}}
		</a>
		<!-- Left -->
		<ul class="left">
        	<li [hidden]="!IsLeftButtonVisible">
        		<a href="javascript:void(0);" (click)="clickLeftButton()">
			      <i class="material-icons" style="transform:rotate(180deg)">{{LeftButtonIcon}}</i>
    			</a>
			</li>
      	</ul>
		<!-- Right -->
		<ul class="right">
        	<li>
        		<a href="javascript:void(0);" (click)="clickRightButton()">
        			{{RightButtonIcon}}
    			</a>
			</li>
      	</ul>
    </div>
</nav>
        