<div class="page">
	<!-- Navbar -->
	<navbar [Text]="_place.name"
			[LeftButtonIcon]="'trending_flat'"
			[isTweetEnabled]="true"
			(LeftButtonClick)="clickBackButton($event)"
			(RightButtonClick)="clickTweetButton($event)">
	</navbar>	

	<!-- Slider -->
     <slider [Content]="images"></slider>

	<!-- Comments -->
  	<ul class="collection place-collection">
  		<li *ngFor="let comment of comments" (click)="selectComment(comment)" class="collection-item">
  			{{comment.text}}
  		</li>
    </ul>  	

</div>
    