<div class="page">
	<!-- Navbar -->
	<navbar [Text]="_fullName"
			[LeftButtonIcon]="'trending_flat'"
			[RightButtonIcon]=""
			(LeftButtonClick)="clickBackButton($event)">
	</navbar>	

	<!-- List -->
  	<ul class="collection place-collection flex-content">
  		<li class="collection-item">
  			<div class="col s12 ">
    			<div class="row valign-wrapper">
					<!-- profile pic. -->
            		<div class="col s5">
            			<img src="{{_profilePic}}" class="circle responsive-img">
            		</div>
            		<!-- Texts -->
            		<div class="col s7">
            			<span>
            				<strong>{{_fullName}}</strong>
        				  </span>
                  <br/>
            			<span>{{_userName}}</span>
                  <br/>
            			<span>{{_webSite}}</span>
                  <br/>
            			<span (click)="followUser()">
            				<img src="assets/img/followbutton.png" class="follow-button"/>
            			</span>
            		</div>
          		</div>
      		</div>
  		</li>
  		<li *ngFor="let comment of _comments" class="collection-item">
  			{{comment.text}}
  		</li>
    </ul>
</div>

