<div class="page">
	<!-- Navbar -->
	<navbar [Text]="_activeTab.header"
			[LeftButtonIcon]="'trending_flat'"
			[RightButtonIcon]=""
			[IsLeftButtonVisible]="false">
	</navbar>	

	<!-- List -->
  	<ul class="collection place-collection flex-content" *ngIf="_activeTab.text == 'List'">
	  	<li class="collection-item">
	        <div class="input-field  s12 search-container">
	        	<i class="material-icons prefix">search</i>
          	<input type="text" class="validate search-input" [(ngModel)]="searchValue" placeholder="Search...">
            <i class="material-icons prefix" (click)="searchValue = ''" *ngIf="searchValue">close</i>
	        </div>
	  	</li>
  		<li *ngFor="let place of _places | search:'name':searchValue" (click)="selectPlace(place)" class="collection-item">
  			{{place.name}}
  		</li>
    </ul>

    <!-- Map -->
    <div *ngIf="_activeTab.text == 'Map'" class="flex-content">
    	<app-map 
    		[(latitude)]="_latitude" 
    		[(longitude)]="_longitude">
    	</app-map>
    </div>


    <!-- About -->
    <div *ngIf="_activeTab.text == 'About'" class="flex-content">
    	<about></about>
    </div>


    <!-- Tabs -->
    <footer>
  		<div class="col s12">
  			<ul class="tabs">
  				<li *ngFor="let tab of _tabs" class="tab col s4">
  					<a href="javascript:void(0);" (click)="clickTab(tab)">
  						{{tab.text}}
					</a>
				</li>
      		</ul>
    	</div>
	</footer>
</div>