<div *ngIf="active">
	<div class="spinner-background"></div>
	<div class="spinner-circle">
  		<div class="preloader-wrapper big active">
    		<div class="spinner-layer spinner-red-only">
      			<div class="circle-clipper left">
        			<div class="circle"></div>
      			</div>
      			<div class="gap-patch">
        			<div class="circle"></div>
      			</div>
      			<div class="circle-clipper right">
        			<div class="circle"></div>
      			</div>
    		</div>
  		</div>
  	</div>
</div>