<div class="page green-container">
	<div class="row">
		<!-- Logo -->
		<div class="col s12 m12 l12 center-align" style="padding: 0!important;">
			<img src="assets/img/camping-icon.jpg" class="responsive-img">
		</div>
		<!-- App. Name -->
		<div class="col app-name s12 m12 l12" style="padding: 0!important;">
			The Wild
		</div>
		<!-- Twitter Button -->
		<div class="col s10 l4 offset-l4 offset-s1 center-align" style="padding: 0!important;">
			<a href="/api/login/twitter" class="twitter">
				<img src="assets/img/twitter-login.png"  class="responsive-img" />
			</a>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
