<div class="page green-container">
	<div class="row">
		<!-- Logo -->
		<div class="col s12 center-align" style="padding: 0!important;">
			<img src="assets/img/camping-icon.jpg">
		</div>
		<!-- App. Name -->
		<div class="col s12 app-name">
			The Wild
		</div>
		<!-- Twitter Button -->
		<div class="col s12 l4 offset-l4" style="text-align: center;">
			<a href="/api/login/twitter" class="twitter">
				<img src="assets/img/twitter-login.png" style="width: 80%;height: auto;" />
			</a>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
