<div class="full-width">
	<!-- Text area -->
  	<div class="row">
    	<form class="col s12">
      		<div class="row">
        		<div class="input-field col s12">
          			<textarea 	id="textarea1" 
          						class="materialize-textarea" 
          						[ngModelOptions]="{standalone: true}" 
      							[(ngModel)]="_text" 
      							(keypress)="changeTweetText($event)"></textarea>
          			<label for="textarea1">What's happening?</label>
        		</div>
      		</div>
    	</form>
  	</div>
  	<div class="row">
		<form class="col s12">
			<div class="row pull-right">
			<span>{{140-_text?.length}}</span>
				<a class="waves-effect waves-light btn" (click)="sendTweet($event)">Send</a>
			</div>
		</form>
	</div>
</div>